#friends-display-link {
  text-align: center;
  display: block;
  background-color: var(--kakao-gray1);
  padding: 12px 0px;
  margin-bottom: 10px;
  font-size: 18px;
}
#friends-display-link i {
  color: var(--grayby4);
}
.friends-screen {
  padding: 0px var(--horizontal-margin);
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: var(--grayby5);
}

@keyframes hidesplashscreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--kakao-yellow);
  position: absolute;
  z-index: 998;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidesplashscreen 600ms ease-in-out forwards;
  animation-delay: 1400ms;
}

#splash-screen i {
  font-size: 84px;
}
