.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--nav-background);
  padding: 20px 50px;
  border-top: 1px solid rgb(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  color: var(--kakao-black);
  position: relative;
}

.nav__notification {
  position: absolute;
  right: -6px;
  top: -12px;
}
.nav__notinew {
  position: absolute;
  right: -6px;
  top: -12px;
}
